

%h1 Sign up
#sign-up
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    %fieldset
      %legend Registration
      = f.input :email, autofocus: true, :input_html => {:style => 'width: 2000px'}
      = f.input :name, :input_html => {:style => 'width: 2000px'}
      = f.input :password, :input_html => {:style => 'width: 200px'}
      = f.input :password_confirmation, :input_html => {:style => 'width: 200px'}
      %br
        &nbsp;

      = f.button :submit, "Go to Card Info"
= render "devise/shared/links"
